header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-dark);
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
}

header .logo {
    color: var(--color-background);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 8px;
    background: var(--color-primary);
    transition: background 0.3s;
}

header .logo:hover {
    background: var(--color-accent);
}

.search-bar {
    display: flex;
    align-items: center;
    background: var(--color-background);
    border-radius: 20px;
    padding: 5px;
    width: 300px;
    max-width: 100%;
    overflow: hidden;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px 10px;
    flex: 1;
    border-radius: 20px 0 0 20px;
    font-size: 14px;
    background: transparent;
    color: var(--color-text);
}

.search-bar button {
    background: var(--color-accent);
    color: var(--color-background);
    border: none;
    padding: 5px 10px;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 5px;
}

header button,
header .cart a{
    color: var(--color-background);
    text-decoration: none;
}

header button,
header .account a,
header .cart{
    all: unset;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 8px;
    color: var(--color-background);
    background: var(--color-primary);
    transition: background 0.3s;
}

header button:hover,
header .account a:hover,
header .cart:hover{
    background: var(--color-accent);
}


@media (max-width: 768px) {
    .search-bar {
        width: 120px;
    }

    .search-bar input {
        font-size: 12px;
        padding: 3px 8px;
    }

    .search-bar button {
        padding: 3px 8px;
        font-size: 12px;
    }

    header .account,
    header .cart a {
        padding: 3px 8px;
        font-size: 14px;
    }
}
