.sidebar {
    width: 300px;
    /* height: 100vh; */
    background-color: var(--color-background);
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.sidebar input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    background-color: var(--color-light);
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.sidebar input:focus {
    border-color: var(--color-primary);
    background-color: var(--color-light);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar label {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-text);
    margin-bottom: 5px;
    display: block;
}

.sidebar textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    background-color: var(--color-light);
    margin-bottom: 15px;
    transition: all 0.3s ease;
    resize: vertical;
    min-height: 100px;
}

.sidebar textarea:focus {
    border-color: var(--color-primary);
    background-color: var(--color-light);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-accent);
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar button:hover {
    background-color: var(--color-primary-dark);
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        padding: 15px;
        border-radius: 0;
        box-shadow: none;
    }

    .sidebar input,
    .sidebar textarea,
    .sidebar button {
        font-size: 14px;
        padding: 10px;
    }

    .sidebar label {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        padding: 10px;
    }

    .sidebar input,
    .sidebar textarea,
    .sidebar button {
        font-size: 12px;
        padding: 8px;
    }

    .sidebar label {
        font-size: 10px;
    }
}