.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 20px;
}

.login-box {
    background: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-box input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.login-box button {
    padding: 10px;
    background: #555;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background: #444;
}

.login-links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.login-links a {
    color: #333;
    text-decoration: underline;
    font-size: 14px;
}


@media (max-width: 768px) {
    .login-box {
        padding: 15px;
        max-width: 300px;
    }

    .login-box h2 {
        font-size: 20px;
    }

    .login-box input,
    .login-box button {
        font-size: 14px;
    }
}